
// @mixin hook-navbar-nav-item() {
//     text-transform: capitalize;
//     color: red;
// }
// @mixin hook-navbar-nav-item-hover() {
//     text-transform: capitalize;
//     color: green;
// }
// @mixin hook-navbar-nav-item-active() {
//     text-transform: capitalize;
//     color: yellow;
// }

@mixin hook-form() {
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.07);
    height: 45px;
    background-color: transparent !important;
    &:focus {
        background-color: transparent;
        color: rgba(255, 255, 255, 0.7);
        border-color: #fddf00 !important;
    }
}
button {
    svg {
        color: #fddf00;
    }
}

// @mixin  hook-button-hover() {
//     background: $global-border;
//     border: red;
// }
